.channel-page {
  border: 2px solid #202020;
  border-radius: 10px;
  background-color: #363636;
  padding: 30px;
  width: 860px;
  height: 600px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.channel-page .thumbnail {
  border: 1px solid #20202076;
  width: 533px;
  aspect-ratio: 16/9;
}

.channel-page .profile-pic {
  margin-right: 20px;
  border: 1px solid #20202076;
}

.channel-page h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.channel-page .buttons {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

.channel-page .partner {
  width: 25px;
  height: 25px;
  transform: translateY(5px)
}

.channel-page .live,
.channel-page .offline {
  font-weight: 700;
  font-size: 10pt;
  color: #fff;
  display: inline-block;
  padding: 0 7px 2px 7px;
  border-radius: 5px;
  transform: translateY(-3px)
}

.channel-page .live {
  background-color: #ae0000;
}

.channel-page .offline {
  background-color: #4f4f4f;
}

.channel-page .broadcaster .url {
  font-weight: normal;
  font-size: 16pt;
  color: #7e94cb;
}

.channel-page .broadcaster .url:hover {
  text-decoration: underline;
}

.channel-page .tag {
  background-color: #4f4f4f;
  border-radius: 5px;
  font-size: 10pt;
  padding: 2px 4px;
}

.channel-page .uptime {
  font-weight: 600;
  font-size: 12pt;
  display: inline-block;
  transform: translateY(-2px);
}

/* Light Theme */

@media (prefers-color-scheme: light) {
  .channel-page {
    border: 1px solid #bbb;
    background-color: #fff;
  }

  .channel-page .tag {
    color: #fff;
  }
}

@media only screen and (max-width: 1000px) {
  .channel-page {
    top: 0;
    left: 0;
    transform: inherit;
    border: none;
    border-radius: 0;
    width: calc(100% - 60px);
    height: 100%;
    overflow: hidden;
  }

  .channel-page .buttons {
    margin: 8px;
  }

  .channel-page .buttons button {
    padding: 6px 12px 8px 12px;
    font-size: 11pt;
  }

  .channel-page .broadcaster {
    margin-top: 12px;
  }

  .channel-page .profile-pic {
    width: 150px;
  }

  .channel-page .thumbnail {
    width: 267px;
  }
}

@media only screen and (max-width: 500px) {
  .channel-page .profile-pic {
    width: 100px;
  }

  .channel-page .thumbnail {
    width: 178px;
  }
}
