.search-box input {
  font-size: 14pt;
  padding: 10px 15px;
  margin-right: 5px;
  background-color: #1A1A1A;
  border: none;
  border-radius: 6px;
}

@media (prefers-color-scheme: light) {
  .search-box input {
    background-color: #f9f9f9;
  }
}
